* {
  margin: 0;
}

body {
  background-color: lightsteelblue;
  color: white;
  display: grid;
  
}

header,
footer,
h2,
article {
  background-color: midnightblue;
}

.cart,
.ham-button {
  height: 2%;
  width: 2%;
}

.ham-button {
  display: none;
}